# dependencies
node_modules

# build
dist
build

# environment
.env

# logs
*.log

# macOS
.DS_Store

# prisma local database
prisma/dev.db
prisma/dev.db-journal
blind-inventory-server/prisma/dev.db
blind-inventory-server/prisma/dev.db-journal